@{
    Layout = "";
}
@model NopBrasil.Plugin.Widgets.ContactData.Models.ConfigurationModel
@using Nop.Web.Framework;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <a href="http://www.nopcommercebrasil.com"><img src="/Plugins/Widgets.ContactData/Content/Images/nopCommerceBrasil.png"></a>
                    <br />
                    <p>
                        Este plugin foi desenvolvido por <a href="http://www.nopcommercebrasil.com">NopCommerce Brasil - http://www.nopcommercebrasil.com</a><br />
                        Em caso de dúvidas ou problemas por favor entre em contato conosco através do email <a href="mailto:nopcommercebrasil@nopcommercebrasil.com" target="_top">nopcommercebrasil@nopcommercebrasil.com</a><br />
                        Este plugin é open-source e seu código-fonte está disponível no <a href="https://github.com/nopCommerceBrasil">GitHub do NopCommerce Brasil</a> no repositório <a href="https://github.com/nopCommerceBrasil/NopBrasil.Plugin.Widgets.ContactData">NopBrasil.Plugin.Widgets.ContactData</a>
                    </p>
                    <br />
                    
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.WidgetZone)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.WidgetZone)
                        @Html.ValidationMessageFor(model => model.WidgetZone)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ViewMode)
                    </div>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.ViewMode, Model.ViewModeAvailable)
                        @Html.ValidationMessageFor(model => model.ViewMode)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.CompanyName)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.CompanyName)
                        @Html.ValidationMessageFor(model => model.CompanyName)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.NationalRegisterCorporate)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.NationalRegisterCorporate)
                        @Html.ValidationMessageFor(model => model.NationalRegisterCorporate)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Address)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Address)
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.PostalCode)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PostalCode)
                        @Html.ValidationMessageFor(model => model.PostalCode)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.City)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.City)
                        @Html.ValidationMessageFor(model => model.City)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.State)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.State)
                        @Html.ValidationMessageFor(model => model.State)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.District)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.District)
                        @Html.ValidationMessageFor(model => model.District)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.PhoneNumber)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PhoneNumber)
                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Email)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>

            </div>
        </div>
    </div>
}